@media only screen and(max-width:480px){
    .box{
        width:200px;
        height:100px;
        margin:10px;
    }
    .main-box{
        width:200px;
        height:100px;
        margin:10px;
    }
    
}